.main {
    width: 250px;
    border: 1px solid #282c34;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c5dcc5;
}

.mainForMovable {
    width: 250px;
    border: 1px solid #282c34;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #4aadad;
}

.inputBlock {
    width: 100%;
}

.allBtnStyle {
    display: flex;
    margin: 20px;
    width: 280px;
    justify-content: space-between;
}

.allBtnStyle button {
    background: #8cc1d2;
    border-radius: 5px;
}

.btnDelete {
    background: #8cc1d2;
    border-radius: 5px;
    margin-left: 10px;
}

.btnAdd {
    background: #8cc1d2;
    border-radius: 5px;
    position: absolute;
    left: 80px;
    top: 5px;
}

.input1 {
    border-radius: 5px;
}

.taskStyle {
    display: flex;
    justify-content: flex-start;
    font-family:'Poppins', sans-serif;
}

.errorMessage {
    color: red;
}
